<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<title>Kule Shopping</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
      
  
</style>
</head>
<body class="container" >

<header>
    <body background-color: coral;>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
        
            <div class="navbar-header">
               
                <a class="navbar-brand" href="#" >
                    <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                    SHOPPING Is Fun
                </a>
        
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
              
            </div>
        
        </div>
        </nav>
    </body>
</header>

<main>
<div class="row">
    <div class="col-sm-8">    
        <div class="jumbotron">
            <h1>This is great</h1>
            <p>Welcome to Cloud Atlas KULE Shopping Website</p>
            
        </div>
    </div>

    <div class="col-sm-4">        
        <div class="well">
            <h3>Look I'm A Sidebar!</h3>
            <img src="/images/1001.jpg" alt="txt">
        </div>
    </div>

</div>
</main>

<footer>
    <p class="text-center text-muted">© Copyright 2020 Cloud Atlas Team</p>
</footer>

</body>
</html>