<!DOCTYPE html>
<html lang="en">
<head>
  <title>Kule Shopping </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>Cloud Atlas Product Catlog Page</h1>
  <p>Resize this responsive page to see the effect!</p> 
</div>
  
<div class="container">
  <div class="row">
        <div class="col-sm-4">
      <h3>BRAND</h3>
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Brand
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Mango</a></li>
          <li><a href="#">Allen Soly</a></li>
          <li><a href="#">Raymonds</a></li>
        </ul>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    
    <div class="col-sm-4">
      <h3>PRODUCT</h3>
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Product
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Mango</a></li>
          <li><a href="#">Allen Soly</a></li>
          <li><a href="#">Raymonds</a></li>
        </ul>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
      <h3>SIZE</h3>   
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Size
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Mango</a></li>
          <li><a href="#">Allen Soly</a></li>
          <li><a href="#">Raymonds</a></li>
        </ul>
      </div>     
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="C:/Projectnode/images/1001.jpg">
          <img src="C:/Projectnode/images/1001.jpg" alt="Jacket" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum...</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="C:/Projectnode/images/1001.jpg">
          <img src="C:/Projectnode/images/1001.jpg" alt="Nature" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum...</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="C:/Projectnode/images/1001.jpg">
          <img src="C:/Projectnode/images/1001.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum...</p>
          </div>
        </a>
      </div>
    </div>
  </div>
  

</body>
</html>