<!-- views/pages/product.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<title>Kule Shopping</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
     * {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox; /* IE 10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE 10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  -ms-flex: 50%; /* IE 10 */
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 18px;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}
  
</style>
</head>

<!-- Header -->
<div class="header" id="myHeader">
    <h1>Image Grid</h1>
    <p>Click on the buttons to change the grid view.</p>
    <button class="btn" onclick="one()">1</button>
    <button class="btn active" onclick="two()">2</button>
    <button class="btn" onclick="four()">4</button>
  </div>
  
  <!-- Photo Grid -->
  <div class="row"> 
    <div class="column">
      <img src="../images/1001.jpg" style="width:50%" href="" >
      <img src="../images/1002.jpg" style="width:50%">
      <img src="../images/1003.jpg" style="width:50%">
      <img src="../images/1004.jpg" style="width:50%">
      <img src="../images/1005.jpg" style="width:50%">
      <img src="../images/1006.jpg" style="width:50%">
      <img src="../images/1007.jpg" style="width:50%">
    </div>
    <div class="column">
        <img src="../images/1008.jpg" style="width:50%">
        <img src="../images/2001.jpg" style="width:50%">
        <img src="../images/2002.jpg" style="width:50%">
        <img src="../images/2003.jpg" style="width:50%">
        <img src="../images/2004.jpg" style="width:50%">
        <img src="../images/2005.jpg" style="width:50%">
        <img src="../images/2006.jpg" style="width:50%">
    </div>  
    <div class="column">
        <img src="../images/2007.jpg" style="width:50%">
        <img src="../images/2008.jpg" style="width:50%">
        <img src="../images/3001.jpg" style="width:50%">
        <img src="../images/3002.jpg" style="width:50%">
        <img src="../images/3003.jpg" style="width:50%">
        <img src="../images/3004.jpg" style="width:50%">
        <img src="../images/3005.jpg" style="width:50%">
    </div>
    <div class="column">
        <img src="../images/3006.jpg" style="width:50%">
        <img src="../images/3008.jpg" style="width:50%">
        <img src="../images/3007.jpg" style="width:50%">
        <img src="../images/4002.jpg" style="width:50%">
        <img src="../images/4003.jpg" style="width:50%">
        <img src="../images/4004.jpg" style="width:50%">
        <img src="../images/4005.jpg" style="width:50%">
    </div>
  </div>
  <script>
  // Get the elements with class="column"
var elements = document.getElementsByClassName("column");

// Declare a loop variable
var i;

// Full-width images
function one() {
    for (i = 0; i < elements.length; i++) {
    elements[i].style.msFlex = "100%";  // IE10
    elements[i].style.flex = "100%";
  }
}

// Two images side by side
function two() {
  for (i = 0; i < elements.length; i++) {
    elements[i].style.msFlex = "50%";  // IE10
    elements[i].style.flex = "50%";
  }
}

// Four images side by side
function four() {
  for (i = 0; i < elements.length; i++) {
    elements[i].style.msFlex = "25%";  // IE10
    elements[i].style.flex = "25%";
  }
}

// Add active class to the current button (highlight it)
var header = document.getElementById("myHeader");
var btns = header.getElementsByClassName("btn");
for (var i = 0; i < btns.length; i++) {
  btns[i].addEventListener("click", function() {
    var current = document.getElementsByClassName("active");
    current[0].className = current[0].className.replace(" active", "");
    this.className += " active";
  });
}

  </script>
<body>
<html>
<footer>
    <p class="text-center text-muted">© Copyright 2020 Cloud Atlas Team</p>
</footer>

</body>
</html>